.flex-container-contact {
  display: flex;
  /* justify-content: space-around; */
}

.wrapperContact {
  /* background-color: rgb(231, 163, 62); */
  background-color: rgb(231, 163, 62);
  /* border: solid; */
  height: 100vh;
  width: 7vh;
  margin-left: 100px;
}

.Envelope {
  margin-left: 20px;
  margin-top: 110px;
}

.Phone {
  margin-left: 20px;
  margin-top: 1rem;
}

.LinkedIn {
  margin-left: 20px;
}

.GitHub {
  margin-left: 20px;
  margin-top: 5px;
}

.ContactText {
  margin-left: 20px;
  margin-bottom: 50px;
}

.ContactInfo {
  margin-left: 20px;
  margin-top: 10px;
}

.pinguin {
  margin-left: 600px;
  margin-top: -900px;
  width: 300px;
}
