.flex-container-2 {
  display: flex;
  justify-content: space-around;
}

.ContainerTwo {
  margin-bottom: 20px;
}

.item-1 {
  /* width: 50%; */
}

/* .item-2 {
  opacity: 1;
  display: inline-block;
}

.show-block {
  opacity: 1;
}

.hidden-block {
  opacity: 0;
  transition: all 1s;
}

.animateSkills {
  animation-duration: 5s;
  animation-name: animate-skills;
}

@keyframes animate-skills {
  0% {
    transform: scale(1) rotate(10deg);
  }
  5% {
    transform: scale(1.25) rotate(-15deg);
  }
  10% {
    transform: scale(1.5) rotate(5deg);
  }
  15% {
    transform: scale(1.75) rotate(-10deg);
  }
  20% {
    transform: scale(2) rotate(0);
  }
  100% {
    transform: scale(20) translate3D(100vw, -100vh, 0) rotate(0);
  }
} */

/* .ContainerText {
  margin: 20px;
  margin-top: 50px;

  position: absolute;
  margin-left: 70px;
} */

.tick {
  margin-right: 5px;
}

/* .ContainerSkills {
  margin-left: 30px;
  margin-bottom: 20px;
  position: absolute;
  margin-left: 80px;
} */

/* //////////////////////////////////////////////////////////////////////////////////// */
/* different screens */

@media (max-width: 1000px) {
  .flex-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 20%; */
    /* width: 100%; */
    /* justify-content: space-around; */
  }

  .item-1 {
    /* width: 100%; */
    text-align: center;
    margin-bottom: 100px;
  }

  .ContainerTwo {
    margin-top: 20px;
    text-align: center;
    /* width: 150%; */
    /* width: 50%; */
    font-size: 40px;
    /* margin-bottom: 30px; */
    text-decoration: underline;
    /* margin-left: -90px; */
  }

  .item-1 p {
    font-size: 35px;
    /* position: relative; */
    /* margin-top: 10px; */
    /* margin-left: -120px; */

    /* width: 200px; */
    /* color: aquamarine; */
  }

  .item-2 {
    margin-top: 50px;
  }

  .ContainerSkills {
    /* margin-left: 20%;
    width: 100%;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 20px; */
    /* margin-top: 50px; */

    margin-top: 20px;
    text-align: center;
    /* width: 150%; */
    /* width: 50%; */
    font-size: 40px;
    margin-bottom: 30px;
    text-decoration: underline;
  }

  .ContainerText {
    /* margin-left: 20%; */
    text-align: center;
    /* justify-content: center; */
    font-size: 35px;
  }
}

/* ////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 420px) {
  .animation-block,
  .animation-block2 {
    flex-basis: 100%;
  }
  /* .flex-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
  }

  .animation-block {
    font-size: 5px;
  } */

  .flex-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 20%; */
    /* width: 100%; */
    /* justify-content: space-around; */
  }

  .ContainerTwo,
  .ContainerSkills {
    font-size: 25px;
  }

  .eachLineTick .tick,
  .ContainerText p {
    font-size: 20px;
  }

  .animation-block p {
    font-size: 20px;
  }
}
