/* @import url("https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web:wght@200;300;400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,100;1,300&family=Titillium+Web:wght@200;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}

:root {
  --mainColor: rgb(231, 163, 62);
  --mainColorLight: #5767aa;
  --secondaryColor: #db2839;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 3rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

header a {
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

/* header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
} */

/* @media only screen and (max-width: 900px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  } */

/* header nav {
  position: fixed;
  top: 10px;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--mainColor);
  transition: 1s;
  transform: translate(-100vh);
} */

/* header .responsive_nav {
  transform: none;
} */

/* nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2em;
  } */

/* nav a {
  font-size: 1.5rem;
} */
/* } */
