.NaviBar {
  /* list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top: 5px; */
  width: 100%;
  height: 70px;
  display: flex;
  /* background-color: #bb1b1b; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 7) 10%,
    rgba(255, 0, 78, 0.5383403361344538) 100%
  );
}

.NavBar {
  color: white;
  float: left;
  margin-right: 30px;
  list-style-type: none;
  padding-top: 5px;
  margin-bottom: 5px;
}

.NavBar-item {
  text-decoration: none;
  position: relative;
}

.NavBar-item:before {
  content: "";
  width: 0px;
  height: 3px;
  background: #ccc;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.5s;
}

/* .NavBar:hover .NavBar-item:before {
  width: 100%;
} */

/* .NaviBar .rightSide .MailMe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */

/* .NaviBar .rightSide .MailMe button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
} */

/* .NaviBar .leftSide {
} */

/* .NaviBar .leftSide .links {
} */

/* .NaviBar .leftSide .links .a {
  font-size: 20px;
} */

.envelope-logo-main {
  font-size: 20px;
  margin-right: 5px;
}

.menuBtn {
  position: relative;
  font-size: larger;
  background-color: transparent;
  border: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: #fff;
  /* border: 1px solid #fff; */
  /* border-radius: 10px; */
}

.x-button-menu {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;
  cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////////////////////////////Burger Menu  */

.flexbox-conatiner2 #hidden {
  /* when click menu burger btn -it will show Navbar */
  /* margin-top: 100px; */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  /* justify-content: flex-start; */
  height: 100%;
  width: 200px;

  background-color: rgb(59, 137, 196);
  flex-direction: column;
  align-items: flex-end;

  /* starting point to slide in */
  transition-property: margin-top;
  transition-duration: 3s;
  /* justify-content: center;

  /* z-index:14 is higher than z-index of burger btn menu on navbar page to overlay burger menu button
  z-index value to make sure it stays on top of all other elements 
  on the page(even on top of elements with -position:absolute;), 
  except the modal which is opened on top of this overlay, 
  which will get a even higher z-index than the overlay */
  z-index: 50;
}

.flexbox-conatiner2 #hidden nav {
  display: flex;
  /* flex-direction: column; */
}

.flexbox-conatiner2 button {
  border: none;
  background-color: transparent;
  font-size: 24px;
}

/* ///////////////////////////////////////flexbox - 3 parts in Nav bar */

/* left part */
.flexbox-conatiner1 {
  /* border: 1px solid white; */
  padding: 30px;
  font-size: 25px;
  flex-basis: 45%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

.logo-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* middle part - where all menu links are*/
.flexbox-conatiner2 {
  /* border: 1px solid white; */
  /* padding: 30px; */
  font-size: 25px;
  flex-basis: 500%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

/*right part  - where gmail address is*/
.flexbox-conatiner3 {
  /* border: 1px solid white; */
  padding: 30px;
  font-size: 25px;
  flex-basis: 180%;
  width: fit-content;
  height: fit-content;
}

.MailMe {
  /* flex: 50%; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.MailMe button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

/* animation line */
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 65px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 10px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 10s linear infinite;

  box-shadow: 0 0 10px 5px #48abe0, 0 0 20px 7px #ebecca, 0 0 25px 20px #3b0303,
    0 0 30px 25px #940e0e;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* different screens */

/* when using max-width ->  
Any width that is less than the max-width specified, 
all of the CSS within the query will take effect. */

/* original menu line disappear  */
/* applies to all sizes until 1390 */
@media only screen and (max-width: 1399px) {
  .NaviBar .flexbox-conatiner2 .links {
    display: none;
  }

  /* .flexbox-conatiner2 {
    left: -300px;
  } */

  nav ul {
    display: flex;
    flex-direction: column;
  }

  .envelope-logo-main {
    font-size: 30px;
    margin-right: 5px;
  }

  .email-name {
    display: none;
  }

  .NaviBar {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 70px;
    display: flex;
    /* background-color: #bb1b1b; */
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgb(0, 0, 7) 10%,
      rgba(255, 0, 78, 0.5383403361344538) 100%
    );
  }
}

/* burger menu btn appear */
@media only screen and (min-width: 1400px) {
  .NaviBar .flexbox-conatiner2 button {
    display: none;
  }

  /* .flexbox-conatiner2 {
    position: relative;
    overflow: hidden;
  } */

  /* #hidden { */
  /* margin-left: 100px; */
  /* animation: 3s slide-left; */
  /* } */

  /* .menuBtn {
    display: flex;
    justify-content: flex-start;
  } */
}

@media (max-width: 480px) {
  /* Navi Bar */
  .logo-btn {
    position: absolute;
    margin-left: -50px;
    margin-top: -30px;
    cursor: pointer;
  }

  .email-name {
    display: none;
  }

  .envelope-logo-main {
    position: absolute;
    margin-top: -15px;
  }

  .menuBtn {
    display: flex;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
  }
}
