.NaviBar {
  /* list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
  /* z-index:14 is higher than z-index of burger btn menu on navbar page to overlay burger menu button
  z-index value to make sure it stays on top of all other elements 
  on the page(even on top of elements with -position:absolute;), 
  except the modal which is opened on top of this overlay, 
  which will get a even higher z-index than the overlay */
  z-index: 50;
  background-color: #333;
  margin-top: 5px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: #bb1b1b; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 7) 10%,
    rgba(255, 0, 78, 0.5383403361344538) 100%
  );
}

.logo-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.NavBar_el {
  color: white;
  float: left;
  margin-right: 30px;
  list-style-type: none;
  padding-top: 5px;
  margin-bottom: 5px;
}

.NavBar-item {
  text-decoration: none;
  position: relative;
}

.NavBar-item:before {
  content: "";
  width: 0px;
  height: 3px;
  background: #ccc;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.5s;
}

/* .NavBar:hover .NavBar-item:before {
  width: 100%;
} */

/* .NaviBar .rightSide .MailMe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */

/* .NaviBar .rightSide .MailMe button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
} */

/* .NaviBar .leftSide {
} */

/* .NaviBar .leftSide .links {
} */

/* .NaviBar .leftSide .links .a {
  font-size: 20px;
} */

.envelope-logo-main {
  font-size: 20px;
  margin-right: 5px;
}

.menuBtn {
  position: relative;
  font-size: larger;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  /* border: 1px solid #fff; */
  /* border-radius: 10px; */
}

.x-button-menu {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;
  cursor: pointer;
}

/* @keyframes slide-out {
  from {
    margin-left: 0%;
    opacity: 1;
  }

  to {
    margin-left: 0%;
    opacity: 0.25;
  }
} */

/* @keyframes slide-in {
  from {
    margin-left: -100%;
    opacity: 0.25;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
} */

/* .menu-btn-social-Icons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 20px;
} */

/* .social-menu-bar-bottom {
  display: flex;
  flex-direction: row;
  color: white;
} */

/* .social-side-menu-icons {
  size: 2px;
} */

/* .social-menu-bar-bottom {
  font-size: 30px;
  margin: 7px;
} */

/* .flexbox-conatiner2 #hidden nav {
  display: flex;
} */

/* ///////////////////////////////////////flexbox - 3 parts in Nav bar */

/* left part */
.flexbox-conatiner1 {
  /* border: 1px solid white; */
  /* padding: 30px; */
  font-size: 25px;
  flex-basis: 5%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

/* middle part - where all menu links are*/
.flexbox-conatiner2 {
  /* border: 1px solid white; */
  /* padding: 30px; */
  font-size: 25px;
  flex-basis: 75%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

/*right part  - where gmail address is*/
.flexbox-conatiner3 {
  /* border: 1px solid white; */
  /* padding: 30px; */
  font-size: 25px;
  flex-basis: 20%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.flexbox-conatiner2 button {
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.MailMe {
  /* flex: 50%; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.MailMe button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

/* animation line */
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 65px;
  left: 0;
  overflow: hidden;
  border-bottom: 1px solid #d43535;
}

.underline span {
  width: 10px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 10s linear infinite;

  box-shadow: 0 0 10px 5px #48abe0, 0 0 20px 7px #ebecca, 0 0 25px 20px #3b0303,
    0 0 30px 25px #940e0e;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.btn-icon {
  color: white;
  justify-content: center;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////////////////////////different screens//////////// */

/* when using max-width ->  Any width that is less than the max-width specified, 
all of the CSS within the query will take effect. */

/* original menu line disappear  */
/* applies to all sizes smaller than 1390 */
@media only screen and (max-width: 1399px) {
  /* .menuBtn,
  .x-button-menu {
    display: none !important;
  } */

  /* ////////////////////////////Side bar menu */
  .menu-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: left 0.5s ease-in-out;
    z-index: 100;
  }

  .menu-overlay.show {
    left: 0;
  }

  .menu-overlay.hide {
    left: -100%;
  }

  .menu-list {
    list-style: none;
    padding: 50px 20px;
  }

  .menu-list li {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .menu-list .slide-in {
    opacity: 1;
    transform: translateX(0);
  }

  .menuBtn {
    font-size: larger;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;

    /* display: flex;
    justify-content: flex-start; */
  }

  .x-button-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* //////////////////////// */

  /* .NaviBar .flexbox-conatiner2 .links {
    display: none;
  } */

  /* .flexbox-conatiner2 {
    left: -300px;
  } */

  nav ul {
    display: flex;
    flex-direction: column;
  }

  .envelope-logo-main {
    font-size: 30px;
    margin-right: 5px;
  }

  .email-name {
    display: none;
  }

  .logo-btn {
    position: absolute;
    margin-left: -40px;
    margin-top: -35px;
    cursor: pointer;
  }

  /* .flexbox-conatiner2 button {
    display: none;
  } */

  /* .social-side-menu-icons {
    position: absolute;
    margin-left: -40px;
  } */
}

/* burger menu btn disappear when screen width is bigger than 1400px*/
@media (min-width: 1400px) {
  .menuBtn,
  .x-button-menu {
    display: none;
  }
}

@media (max-width: 420px) {
  /* .flexbox-conatiner1 {
    font-size: 25px;
    flex-basis: 10%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-around;
  } */

  .logo-btn {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  /* middle part - where all menu links are*/
  .flexbox-conatiner2 {
    /* border: 1px solid white; */
    /* padding: 30px; */
    font-size: 25px;
    flex-basis: 80%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  /*right part  - where gmail address is*/
  .flexbox-conatiner3 {
    /* border: 1px solid white; */
    /* padding: 30px; */
    font-size: 25px;
    flex-basis: 10%;
    width: fit-content;
    height: fit-content;
  }

  /* Navi Bar */
  .logo-btn {
    position: absolute;
    margin-left: -70px;
    margin-top: -35px;
    cursor: pointer;
  }

  .email-name {
    display: none;
  }

  .envelope-logo-main {
    position: absolute;
    margin-top: -15px;
  }

  .menuBtn {
    display: flex;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
  }
}
