.CardPortfolio .first-line {
  display: flex;
  justify-content: space-around;
}

.CardPortfolio .second-line {
  display: flex;
  justify-content: space-around;
}

.EachCard {
  margin: 10px;
  min-width: 345px;
}

.MyProjectHeader {
  margin-left: 10px;
  margin-top: 5px;
}

.buttonProject {
  width: 100px;
}

/* //////////////////////////////////////////////////////////////////////////////////// */
/* different screens */
@media (max-width: 1000px) {
  .CardPortfolio .first-line {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
  }

  .CardPortfolio .second-line {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
  }

  .EachCard {
    margin: 10px;
    min-width: 375px;
  }
}
