.Resume {
  margin-top: 20px;
  text-align: center;
}

.MyCertificate {
  margin-left: 50px;
}

.TextResume {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.Certificates {
  margin-left: 50px;
}
